#def $form: form
#def $groupname: &nbsp;
#def $groupid: -1



#def $appurl: /cgi-bin/app/groups

<h1> $groupname </h1>
<P><i> <a href='$appurl?formtype=edit_new&grouptid=$groupid'>edit</a>, <a href='$appurl?formtype=delete_comment&groupid=$groupid'>delete</a> </i>
#$groupname<br>

