#def $form: form
#def $treename: &nbsp;
#def $treeid: -1



#def $appurl: /cgi-bin/app/trees

<h1> $treename </h1>
<P><i> <a href='$appurl?formtype=edit_new&treetid=$treeid'>edit</a>, <a href='$appurl?formtype=delete_comment&treeid=$treeid'>delete</a> </i>
#$treename<br>

