#def $form: form
#def $treeid: -1
#def $treename: &nbsp;

$treeid
<input type="hidden" name="$(form).treeid" value="$treeid" /> </td></tr>
<table>
<tr><td> New Group Name </td><td> <input type="text" name="$(form).treename" value="$treename" size="30"/> </td></tr>

</table>

