#def $form: form
#def $leftselected: None
#def $rightselected: None
#def $treememberid: -1
#def $pretext: Add person to tree:
#def $nameoftree: Group name
#def $nameofperson:  name of person to add 
#def $humancondition: &nbsp;
#def $machinecondition: &nbsp;
#def $extraval:  None 

<input type="hidden" name="$(form).treememberid" value="$treememberid" />
##<input type="hidden" name="$(form).treename" value="$treename" />
<P>$pretext
<ul>
#if $treememberid != "-1"
$treememberid
#end if
$nameoftree
<select name="$(form).treeid">
#for $item in $Items
<option value="$item["treeid"]"
#if  $item["treeid"]  == $leftselected
selected
#end if
>  $item["treename"] </option>
#end for
</select

$nameofperson
<select name="$(form).personid">
#for $person in $People
<option value="$person["personid"]"
#if $person["personid"] == $rightselected
selected
#end if
> $person["person"]</option>
#end for
</select>
</ul>
##<table>
##<tr><td> Condition Description</td><td> <input type="text" name="$(form).humancondition" value="$humancondition" size="30"/> </td></tr>
##<tr><td> Condition Filter</td><td> <input type="text" name="$(form).machinecondition" value="$machinecondition" size="30"/> </td></tr>
##</table>

##$item["treeid"],
##$person["person"], 
