Content-Type: text/html

<html>
<head>
<title> [[title] ] </title>
<link rel=stylesheet type="text/css" href="newcss.css">
[[videoplayerscript] ] [[handlelogout] ] </head>
<body style="font-size: 10pt; font-family: verdana,arial,helvetica,sans-serif; line-height: 1.8;">
</div>

</span></p>

<div id="centreinbrowser">
    <table><tr><td>
        <div id="contentwrapper">
            <div id="contentpanel">
                <div class="column twoC largertext"> [[showpanel][panel=buttonone] &nbsp; ]</div>
                <div class="column twoC largertext"> [[showpanel][panel=buttontwo] &nbsp; ] </div>
                <div class="column twoC largertext"> <P class="lightmagenta" align="center"> [[showpanel][panel=homelink] <a href="Home"> Home</a>] </div>
                <div class="column twoC largertext"> <P class="lightmagenta" align="center"> [[showpanel][panel=familypanel] <a href="AboutBickerManor">The Bickers</a> ] </div>
                <div class="column twoC largertext"> <P class="lightmagenta" align="center">[[showpanel][panel=missions] <a href="Missions">The Missions</a> ] </div>
                <div class="column last twoC"> <P class="lightmagenta" align="center"> 
[[showpanel][panel=loginregister]
  [[loggedout] <span class="largertext"><a href="UserLogin">Login</a>/<a href="UserRegistration">Register</a> </span> ]
  [[loggedin] <span class="largertext"> <a href="MyProfile">[[screenname] ]</a> </span> / <span class="smallertext">
<a href="Home?logout=true">logout</a></span>]
] </div>

<div class="divide"></div>
                <div id="masthead">
                    [[showpanel][panel=masthead]&nbsp;]
                    <br>&nbsp;
                </div>
                <div class="twoC column">
                    [[showpanel][panel=left]&nbsp;]
                </div>
                <div class="eightC column">
                [[content]]
                </div>
                <div class="twoC column last">
                    [[showpanel][panel=right]&nbsp;]
                </div>
<div class="divide"></div>
            </div>
        </div>
    </td></tr></table>

[[metadata]]
</div>
</body>
</html>


