#def $form: form
#def $item: &nbsp;
#def $itemid: -1
#def $upload: &nbsp;
#def $tags: &nbsp;

<input type="hidden" name="$(form).itemid" value="$itemid" /> </td></tr>
<table>
<tr><td> Upload file: </td><td> <input type="file" name="$(form).upload.1" value="$upload" size="30"/> </td></tr>
<tr><td> Name </td><td> <input type="text" name="$(form).item" value="$item" size="30"/> </td></tr>
<tr><td> Tags</td><td> <input type="text" name="$(form).tags" value="$tags" size="30"/> </td></tr>
</table>
#def $form: form
#def $person: &nbsp;
#def $personid: -1
#def $house: &nbsp;
#def $street: &nbsp;
#def $town: &nbsp;
#def $county: &nbsp;
#def $postcode: &nbsp;
#def $phone: &nbsp;
#def $phone: &nbsp;

<input type="hidden" name="$(form).personid" value="$personid" /> </td></tr>
<table>
<tr><td> Person </td><td> <input type="text" name="$(form).person" value="$person" size="30"/> </td></tr>
<tr><td> House </td><td> <input type="text" name="$(form).house" value="$house" size="30"/> </td></tr>
<tr><td> Street </td><td> <input type="text" name="$(form).street" value="$street" size="30"/> </td></tr>
<tr><td> Town </td><td> <input type="text" name="$(form).town" value="$town" size="30"/> </td></tr>
<tr><td> County </td><td> <input type="text" name="$(form).county" value="$county" size="30"/> </td></tr>
<tr><td>Postcode </td><td> <input type="text" name="$(form).postcode" value="$postcode" size="30"/> </td></tr>
<tr><td>Phone </td><td> <input type="text" name="$(form).phone" value="$phone" size="30"/> </td></tr>
</table>
