#def $appurl: $SCRIPT_NAME
#def $viewurl: $appurl?formtype=view_mission&missionid=
#for $mission in $missions
<li>$mission["missionid"] ( <a href='$appurl?formtype=view_mission&missionid=$mission["missionid"]'>v</a>, <a href='$appurl?formtype=edit_mission&missionid=$mission["missionid"]'>e</a>, <a href='$appurl?formtype=delete_mission&missionid=$mission["missionid"]'>d</a>) $mission["mission"], $mission["shortdescription"] $mission["mediumdescription"] <!-- $mission["longdescription"] -->
#end for

