#def $appurl: $SCRIPT_NAME
#def $viewurl: $appurl?formtype=view&personid=
#for $person in $people
<li>$person["personid"] ( <a href='$appurl?formtype=view&personid=$person["personid"]'>v</a>, <a href='$appurl?formtype=edit&personid=$person["personid"]'>e</a>, <a href='$appurl?formtype=delete&personid=$person["personid"]'>d</a>) $person["person"], $person["house"] $person["street"], $person["town"], $person["county"], $person["postcode"], $person["phone"]
#end for