#def $form: form
#def $user: &nbsp;
#def $userid: -1
#def $shortdescription: &nbsp;
#def $mediumdescription: &nbsp;
#def $longdescription: &nbsp;
#def $baseuser: &nbsp;
#def $extra:   &nbsp;
#def $usernewtext: Welcome to participate 
#def $emailtext: follow the instructions in the email sent to
#def $logintext: and login 
#def $userstate: "$user"


#if $user == "pending"
Please follow the instructions in the email sent to you.
#else
<input type="hidden" name="$(form).userid" value="$userid" /> </td></tr>
<table style="width:100%;">
<tr><td width="15%"> User name</td><td> <input type="text" name="$(form).username" value="$user" size="30"/> </td></tr>
<tr><td width="15%"> Email </td><td> <input type="text" name="$(form).useremail" value="$useremail" size="30"/> </td></tr>
<tr><td width="15%"> Password</td><td> <input type="password" name="$(form).password" size="30" /> </td></tr>
<tr><td width="15%">Retype Password</td><td> <input type="password" name="$(form).duppassword" size="30" /> </td></tr>

##<tr><td> Short Description </td><td> 
##<input type="text" name="$(form).shortdescription" value="$shortdescription" size="30"/> </td></tr>
##<tr><td> Medium Description</td><td> <input type="text" name="$(form).mediumdescription" value="$mediumdescription" size="30"/> </td></tr>
##<!-- <tr><td> Long Description </td><td> <input type="text" name="$(form).longdescription" value="$longdescription" size="80"/> </td></tr> -->
##<tr><td> Long Description </td>
##<td>
##<textarea name="$(form).longdescription" style="width:500;height:200;" >
##$longdescription
##</textarea>
##</td></tr>
##<tr><td> Base User</td><td> <input type="checkbox" name="$(form).baseuser" $baseuser size="80"/> </td></tr>
</table>
#end if
