#def $form: form
#def $user: &nbsp;
#def $userid: -1
#def $shortdescription: &nbsp;
#def $mediumdescription: &nbsp;
#def $longdescription: &nbsp;
#def $baseuser   : &nbsp;
#def $appurl: /cgi-bin/app/users

<h1> $user </h1>
<P><i> <a href='$appurl?formtype=edit_user&userid=$userid'>edit</a>, <a href='$appurl?formtype=delete_user&userid=$userid'>delete</a> </i>
##<P><i>$shortdescription</i>
##<P>$mediumdescription
##<P>$longdescription
##<P>$baseuser

