#def $form: form
#def $msmission: &nbsp;
#def $msmissionid: -1
#def $shortdescription: &nbsp;
#def $mediumdescription: &nbsp;
#def $longdescription: &nbsp;
#def $basemsmission   : &nbsp;
#def $appurl: /cgi-bin/app/msmissions

<h1> $msmission </h1>
<P><i> <a href='$appurl?formtype=edit_msmission&msmissionid=$msmissionid'>edit</a>, <a href='$appurl?formtype=delete_msmission&msmissionid=$msmissionid'>delete</a> </i>
<P><i>$shortdescription</i>
<P>$mediumdescription
<P>$longdescription
<P>$basemsmission

