#def $appurl: $SCRIPT_NAME
#def $form: form
#def $relation: &nbsp;
#def $relationid: -1
##def $shortdescription: &nbsp;
##def $mediumdescription: &nbsp;
##def $longdescription: &nbsp;
##def $basemsmission   : &nbsp;
#def $appurl: /cgi-bin/app/relations
$relationid
<input type="hidden" name="$(form).relationid" value="$relationid" /> 
<h1> $relation </h1>
<P><i> <a href='$appurl?formtype=edit_relation&relationid=$relationid'>edit</a>, <a href='$appurl?formtype=delete_relation&relationid=$relationid'>delete</a> </i>
<P>$relation["left_dbid"] 
<P>$relation["left_itemid"] 
<P>$relation["right_dbid"] 
<P>$relation["right_itemid"]


##<P><i>$shortdescription</i>
##<P>$mediumdescription
##<P>$longdescription
##<P>$baserelation

