#def $entry_forms: &nbsp;

<h1> New Simple Mission </h1>
<table align='right' width='25%%' border='2'><td><b>
Medium description to be become a text area.
Long description to become a WYSIWYG area.
</b></td></table>
$entry_forms
